body{
    height: 100vh;
    margin: 0;
    background-color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:
    radial-gradient(ellipse at left top, #71477c, transparent),
    radial-gradient(ellipse at right top, #5c5c5c, transparent),
    radial-gradient(ellipse at bottom right, #000000, transparent),
    radial-gradient(ellipse at bottom left, #1f5b2e, transparent)
    ;
    border-bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0;
}
.header > div {
    width: 200px;
}

.logo img{
    width: 156.358px;
}

.title{
    font-size: 30px;
}

.contact{
    width: 156.358;
}

.button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background:
    radial-gradient(ellipse at left top, red, transparent) 
    radial-gradient(ellipse at right bottom, red, transparent) 
    ;
}

.appearance{
    width: 50px;
    height: 50px;
    background-color: white;
}
.button{
    width: 50px;
    height: 50px;
    background-color: white;
}