body{
    background-color: #000000;
    background:
    radial-gradient(ellipse at left top, #be84ce, transparent),
    radial-gradient(ellipse at right top, #394c52, transparent),
    radial-gradient(ellipse at center, #FFF, transparent)
    ;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > div {
    width: 200px;
}

.logo img{
    width: 156.358px;
}

.title{
    font-size: 30px;
}

.contact{
    width: 156.358;
}