*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    margin: 0;
    background-color: rgb(1, 1, 21);
}
.header{
    transform: translateY(-30vh);
    animation: headGlide 2s ease 50ms 1 normal forwards;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:
    radial-gradient(ellipse at left top, #71477c, transparent),
    radial-gradient(ellipse at right top, #5c5c5c, transparent),
    radial-gradient(ellipse at bottom right, #000000, transparent),
    radial-gradient(ellipse at bottom left, #300d36, transparent)
    ;
    border-bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0;
}
.header > div {
    width: 200px;
}

.logo img{
    width: 156.358px;
}

.title{
    font-size: 30px;
}

.contact{
    width: 156.358;
}

.cButton{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background:
    radial-gradient(ellipse at left top, red, transparent) 
    radial-gradient(ellipse at right bottom, red, transparent) 
    ;
}

.appearance{
    width: 50px;
    height: 50px;
    background-color: white;
}
.aButton{
    width: 50px;
    height: 50px;
    background-color: white;
}
.flinks{
    color: aliceblue;
    align-content: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: solid;
    
}

.flinks a:visited {
color: aliceblue;
}

.main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: end;
    grid-template-rows: 100vh;
}

.appearance{
    color: aliceblue;
    display: grid;
}

.textTitle{
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text{
    color: white;
}

.textContent{
    display: flex;
    flex-direction: row;
}

.textContent img{
    width: 100px;
}

@keyframes headGlide {
    from {transform: translateY( -30vh);}
    to {transform: translateY(0vh);}
}