*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    background:
    radial-gradient(ellipse at left top, #300d36, transparent),
    radial-gradient(ellipse at right top, #000000, transparent),
    radial-gradient(ellipse at bottom right, #5c5c5c, transparent),
    radial-gradient(ellipse at bottom left, #300d36, transparent)
    ;
    background-repeat: no-repeat;
}
p{
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    ;
    border-bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0;
}
.header > div {
    width: 200px;
}
.logo img{
    width: 156.358px;
}
.title{
    font-size: 30px;
}
.contact{
    width: 156.358;
}
.cButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(154, 0, 185);
}
.cButton:hover{
    background-color: rgb(178, 0, 214);
    cursor: pointer;
}
.cButton:active{
    cursor: grab;
}
.cButton p{
    text-decoration: none;
}
.appearance{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
}
.bHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.bHolder:nth-child(2) .aButton{
    background-color: rgb(172, 83, 255);
}
.bHolder:nth-child(2) .aButton div{
    background-color: rgb(172, 83, 255);
}
.aButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: rgb(96, 96, 96);
    border: 2px solid black;
    border-radius: 12px;
}
.aButton div{
    width: 12px;
    height: 12px;
    background-color: rgb(96, 96, 96);
    border: 2px solid rgb(170, 170, 170);
    border-radius: 7px;
}
.aButton:hover{
    cursor: pointer;
}
.flinks{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: solid;
    justify-content: space-between;
    height: 55vh;
    
}

.flinks a:visited {
color: aliceblue;
}

.main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: end;
    grid-template-rows: 300vh;
    
}

.appearance{
    color: aliceblue;
    display: grid;
}

.textTitle{
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
}

.text{
    color: white;
}

.textContent{
    display: flex;
    flex-direction: row;
}

.textContent img{
    width: 100px;
}
